body {
    font-family: Montserrat, sans-serif;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 75px 25px;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 45px;
    margin-top: 0;
}

.intro h1 {
    font-size: 64px;
    line-height: 1 em;
    color: #073763;
    text-shadow: 3px 3px 0 #a6aedd;
    font-weight: 200;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

.intro h2 {
    font-size: 20px;
    font-weight: 200;
    line-height: 1 em;
    color: #073763;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

#p-tile {
    text-align: center;
}